<h2>Change your password</h2>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password", class: 'control-label col-sm-3' %>
    <div class="col-xs-4">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", 'aria-describedby' => "user_password_hint", class: 'form-control' %>
      <% if @minimum_password_length %>
        <span id="user_password_hint" class="help-block">Minimum 8 characters</span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm password", class: 'control-label col-sm-3' %>
    <div class="col-xs-4">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-md-10">
      <%= f.submit "Change my password", class: 'btn btn-primary' %>
      <br/>
      <br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
