<div class="row">
  <div class="posts_archive col-md-3">
    <%= render :partial => "archive" %>
      <%= link_to 'New Update', new_post_path, class: 'btn btn-primary' if current_user && current_user.can_create?(Post) %>
  </div>

  <div class="col-lg-8 col-md-10">
    <% @posts.each do |post| %>
      <div class="post-preview">
        <a href="<%= post_path(post) %>">
          <h2 class="post-title"><%= post.title %></h2>
          <h3 class="post-subtitle">
            <%= post.content %>
          </h3>
        </a>
        <p class="post-meta">Posted on <%= post.created_at.strftime("%m/%d/%Y") %></p>
      </div>
      <hr>
    <% end -%>

    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
