<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <% @posts.each do |post| %>
      <div class="post-preview">
        <a href="<%= post_path(post) %>">
          <h2 class="post-title"><%= post.title %></h2>
          <h3 class="post-subtitle">
            <%= post.content %>
          </h3>
        </a>
        <p class="post-meta">Posted on <%= post.created_at.strftime("%m/%d/%Y") %></p>
      </div>
      <hr>
    <% end -%>

    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            <a href="#">Older Posts &rarr;</a>
        </li>
    </ul>
  </div>
</div>
<!-- 
<div class="page-header">
  <h1>
    Recent Updates
    <%= link_to 'New Updates', new_post_path, class: 'pull-right btn btn-primary' unless current_user.nil? %>
  </h1>

</div>

<div class="posts_content col-md-8">
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post %></h2>
      <p></p>
      <p>
        <em><%= post.created_at.strftime("%m/%d/%Y") %></em> - 
        <%= post.content %>
      </p>
    </div>
  <% end %>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<div class="posts_archive col-md-4">
  <%= render :partial => "archive" %>
</div>

<br>
 -->
