<!DOCTYPE html>
<html>
<head>
  <title>Ihmmusic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Log in", new_session_path(User.new) if current_user.nil? && params['action'] != 'new' %>
  <%= link_to "Log out", destroy_session_path(User), method: :delete if current_user.present? %>

  <%= yield %>

</body>
</html>
