<!DOCTYPE html>
<html>
<head>
  <title>Ihmmusic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to "Log in", new_session_path(User.new) if current_user.nil? && params['action'] != 'new' %><br />
<%= yield %>

</body>
</html>
