<!DOCTYPE html>
<html>
<head>
  <title>IHM Music</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render :partial => "layouts/navigation"%>
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header post-bg">
    <div class="container">
      <%# flash.each do |name, msg| -%>
        <%# name = ['success', 'warning', 'danger', 'info'].include?(name) ? name : 'warning' %>
        <%#= content_tag :div, msg, class: "alert alert-#{name}" %>
      <%# end -%>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <hr class="small">
            <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <%= yield %>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <ul class="list-inline text-center">
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
        </div>
      </div>
    </div>
  </footer>
</body>

<!--
  <div class="container">
    <%# flash.each do |name, msg| -%>
      <%# name = ['success', 'warning', 'danger', 'info'].include?(name) ? name : 'warning' %>
      <%#= content_tag :div, msg, class: "alert alert-#{name}" %>
    <%# end -%>
    <%#= yield %>
  </div>
 -->
</html>
